<!DOCTYPE html>
<html lang="fr" ng-app="tooLate">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Page d'accueil application too late">
    <meta name="author" content="Marion Guillet">

    <title>Too late</title>

    <!-- Bootstrap Core CSS -->
    <link href="./css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="./css/stylish-portfolio.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="./font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    
      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
      <script src="script.js"></script>
      <script src="connexion.js"></script>
</head>

<body ng-controller="tooLateCo">

    <!-- Navigation -->
    <a id="menu-toggle" href="#" class="btn btn-dark btn-lg toggle"><i class="fa fa-bars"></i></a>
    <nav id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <a id="menu-close" href="#" class="btn btn-light btn-lg pull-right toggle"><i class="fa fa-times"></i></a>
            <li class="sidebar-brand">
                <a href="#top"  onclick = $("#menu-close").click(); >Accueil</a>
            </li>
            <li>
                <a href="#classement" onclick = $("#menu-close").click(); >Ratés du moment</a>
            </li>
            <li>
                <a href="#div" onclick = $("#menu-close").click(); >Liste utilisateurs</a>
            </li>
            <li>
                <a href="#preferences" onclick = $("#menu-close").click(); >Préférences</a>
            </li>
            <li>
                <a href="#contacts" onclick = $("#menu-close").click(); >Contacts</a>
            </li>
        </ul>
    </nav>
    

    <!-- Header -->
    <header id="top" class="header">
        <div class="text-vertical-center">
            <h1>Too late</h1>
            <h3>Petite phrase drôle...</h3>
            <br>
             <span id="signinButton">

                      <span

                        class="g-signin"

                        data-callback="signinCallback"

                        data-clientid="640188826359-pcrst5oaa1jpjkfii2alhcets8bm5970.apps.googleusercontent.com"

                        data-cookiepolicy="single_host_origin"

                        data-requestvisibleactions="http://schemas.google.com/AddActivity"

                        data-scope="https://www.googleapis.com/auth/plus.login https://www.googleapis.com/auth/userinfo.email"
                        >

                      </span>

            </span>
            		<button id="revokeButton" class="btn btn-dark btn-lg" onClick="disconnectUser()" style="display:none;">Deconnexion</button>
		<br/>
		<button id="afficheNom" class="btn btn-dark btn-lg" style="display:none;">Bonjour {{user}}</button>
        </div>
    </header>

        <!-- Ratés du moment -->
    <!-- The circle icons use Font Awesome's stacked icon classes. For more information, visit http://fontawesome.io/examples/ -->
    <section id="classement" class="services bg-primary">
        <div class="container">
            <div class="row text-center">
                <h2>Les événements du moments</h2>
                <img class="perso-image-looser img-responsive" src="img/biggest_looser.jpg">
                <p>Evenement passé {{hello}} </p>
                <table class="table">
                    <th>Evènement</th><th>Date de fin</th><th>Ville</th>
                    <div>
                    <tr ng-repeat="x in event | limitTo:10">
                        <div ng-if="today > todate(x.endDate)">
                          <td>{{x.nameevent}}</td><td>{{x.enddate}}</td><td>{{x.cityevent}}</td>
                        </div>
                    </tr>
                    </div>
                </table>
                
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </section>

    <!-- Log in -->
    <section id="users" style="display:none" class="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Liste des utilisateurs</h2>
                    <center>
                    <table class="table table-bordered" style="width:30%;)">                    
                    	<th>Utilisateur</th>
                    	<th>Score</th>
					<tr ng-repeat="user in users | orderBy:'score'">
						<td>{{user.mail}}</td>
					 	<td>{{user.score}}</td>
					 </tr> 
					</table>
					</center>
				</div>
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </section>
    
        <!-- Préférences -->
    <section id="preferences" style="display:none" class="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Préférences</h2>
                    <div ng-repeat="categ in sousCategorie | orderBy:'namesouscat' | limitTo:10">
  						<input type="checkbox" ng-model="categ.selected">{{categ.namesouscat}}
					</div>      
					<br/>
					<form ng-submit="validerPreferences()">
					    <input class="btn-primary" type="submit" value="Valider"> 
					    <p>{{selectedCategories}}</p>
					</form>
					  <br/>
					 <input type="checkbox" ng-click="cocherTout()" ng-model="cocheTout">Tout sélectionner
                </div>
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </section>

    
    <!-- Contacts -->
    <!-- The circle icons use Font Awesome's stacked icon classes. For more information, visit http://fontawesome.io/examples/ -->
    <section id="contacts" class="services bg-primary">
        <div class="container">
            <div class="row text-center">
                <div class="col-lg-10 col-lg-offset-1">
                    <h2>Contacts</h2>
                    <hr class="small">
                    <div class="row">
                        <div class="col-md-4 col-sm-6">
                            <div class="service-item">
                                <img class="perso-image-ronde img-responsive" src="img/contact_pict_boris.jpg">
                                <h4>
                                    <strong>Boris Lebrun</strong>
                                </h4>
                                <p>Administrateur du site.</p>
                                <a href="mailto:boris@example.com" class="btn btn-light">Learn More</a>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6">
                            <div class="service-item">
                                <img class="perso-image-ronde img-responsive" src="img/contact_pict_antoine.jpg">
                                <h4>
                                    <strong>Antoine Barreau</strong>
                                </h4>
                                <p>Administrateur du site.</p>
                                <a href="mailto:antoine@example.com" class="btn btn-light">Learn More</a>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6">
                            <div class="service-item">
                                <img class="perso-image-ronde img-responsive" src="img/contact_pict_marion.jpg">
                                <h4>
                                    <strong>Marion Guillet</strong>
                                </h4>
                                <p>Administrateur du site.</p>
                                <a href="mailto:marion@example.com" class="btn btn-light">Learn More</a>
                            </div>
                        </div>
                    </div>
                    <!-- /.row (nested) -->
                </div>
                <!-- /.col-lg-10 -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </section>


    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-10 col-lg-offset-1 text-center">
                    <h4><strong>MIAGE de Nantes</strong>
                    </h4>
                    <p>Master 1<br>Promotion 2014-2015</p>
                    <a href="https://bitbucket.org/marion_gui/m1_dev_web/branch/master">Learn More on BitBucket</a>
                </div>
            </div>
        </div>
    </footer>

    <!-- jQuery -->
    <script src="../js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="../js/bootstrap.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script>
    // Closes the sidebar menu
    $("#menu-close").click(function(e) {
        e.preventDefault();
        $("#sidebar-wrapper").toggleClass("active");
    });

    // Opens the sidebar menu
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#sidebar-wrapper").toggleClass("active");
    });

    // Scrolls to the selected menu item on the page
    $(function() {
        $('a[href*=#]:not([href=#])').click(function() {
            if (location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '') || location.hostname == this.hostname) {

                var target = $(this.hash);
                target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
                if (target.length) {
                    $('html,body').animate({
                        scrollTop: target.offset().top
                    }, 1000);
                    return false;
                }
            }
        });
    });
    </script>

<script>
  var init = function() {
    window.init();
  };
</script>

<script src="https://apis.google.com/js/client.js?onload=init"></script>
</body>

</html>
